# Palantir NPM configuration

registry = https://artifactory.palantir.build/artifactory/api/npm/all-npm/
save-exact = true

# use phantomjs internal CDN mirror
phantomjs_cdnurl = https://artifactory.palantir.build/artifactory/internal-dist-contributions/ariya/phantomjs
