# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.classpath
.checkstyle
.factorypath
.project
.settings
*.launch

# Codegen
.generated
.apt_generated
generated_src/
**/src/generated/

# OS X
.DS_Store

# Java
*.class
!gradle/wrapper/gradle-wrapper.jar

# Build Systems
.gradle/
bin/
build/
out/

# Log Files
*/var/log/

# Node
node_modules/
npm-debug.log

# SublimeText + TextMate + Vim
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
*.sw[op]
